body {
    background-color: #FF33FF
    }

header {
	font-size:50px;
	text-align:center;
	text-shadow:2px 2px #00FFFF; 
}

h1 {
	text-align: center;
	font-size:50px;
	border:solid red 20px;
	text-shadow: 5px 2px #00FFFF;		
}

li{
	font-size:50px;
}
